* {
    margin: 0;
    padding: 0;
}

/* navbar section start */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 98px;
    background-color: #ffffffFF;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 1551px;
    height: 98px;
    background-color: #ffffffFF;
    justify-content: space-between;
    margin-right: 30px;
}

.nav-logo {
    margin-left: 20px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.nav-btn {
    background-color: #1d4ed8FF;
    border: 1px solid rgb(86, 61, 230);
    border-radius: 3px;
    padding: 3px;
    color: #ffffff;
    height: 20px;
    justify-content: baseline;
    align-items: center;
    margin-right: 20px;
}

/* navbar section end */

/* hero section start */

.hero {
    background-image: url(./images/banner.jpg);
    height: 600px;
    width: 1551px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.overlay {
    background-color: rgb(rgb(36, 33, 33), green, blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: #ffffff;
    justify-content: center;
    text-align: center;

}

.content h2 {
    font-weight: 700;
    font-size: 80px;
    margin-top: 50px;
}

.content p {
    font-weight: 400;
    font-size: 22px;
}

.hero-btn {
    background-color: #1d4ed8FF;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
}

/* hero section end */
.speakers h2 {
    margin: 30px auto;
}

.meet-the-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* speakers section final */
.speakers {
    width: 1280px;
    margin: 60px;
}

.header-meet {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;

}

.speaker-feature {
    gap: 25px;
    padding: 25px;
}

.speaker-feature p span {
    color: #2563eb;
}

.speaker-feature h3 {
    font-weight: bold;
    font-size: 20px;
}